.character {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* растянуть на весь экран */
  height: 100vh;
  object-fit: contain; /* сохраняем пропорции персонажа */
  pointer-events: none; /* клики проходят сквозь персонажа */ 
}
